jaleometro_nodered_ui_mqtt.json
[{"id":"c791f1e7.2a03a","type":"http request","z":"807d6ec8.49078","name":"Request to IFTTT Carlos","method":"GET","ret":"txt","paytoqs":false,"url":"https://maker.ifttt.com/trigger/DOMOHOME/with/key/cviFn82HEJynIv2se?value1={{{payload}}}","tls":"","proxy":"","authType":"","x":1190,"y":1720,"wires":[[]]},{"id":"e34c5c98.3cc67","type":"mqtt in","z":"807d6ec8.49078","name":"","topic":"#","qos":"2","datatype":"json","broker":"9373c733.77b168","x":90,"y":1780,"wires":[["f730c896.2fd7e8"]]},{"id":"f730c896.2fd7e8","type":"function","z":"807d6ec8.49078","name":"Split sensors","func":"var sensorid = { payload: msg.payload.uplink_message.decoded_payload.analog_in_1 };\nvar noise_avg = { payload: msg.payload.uplink_message.decoded_payload.luminosity_1 };\nvar noise_peak = { payload: msg.payload.uplink_message.decoded_payload.luminosity_2 };\nvar latitude = { payload: msg.payload.uplink_message.decoded_payload.gps_2.latitude };\nvar longitude = { payload: msg.payload.uplink_message.decoded_payload.gps_2.longitude };\nvar altitude = { payload: msg.payload.uplink_message.decoded_payload.gps_2.altitude };\nreturn [sensorid,noise_avg,noise_peak,latitude,longitude,altitude];","outputs":6,"noerr":0,"x":290,"y":1780,"wires":[[],["f3693768.f6c0e8"],["b02cc948.f081b8"],[],[],[]]},{"id":"b02cc948.f081b8","type":"function","z":"807d6ec8.49078","name":"add topic","func":"//if (msg.payload < 0) {\n//   msg.payload = msg.payload * (-1);\n//} else {\n    msg.payload = msg.payload;\n//} \nmsg.topic = \"Noise Peak\";\nreturn [msg];\n","outputs":1,"noerr":0,"x":480,"y":1800,"wires":[["419ad77f.567ce8","3ba1dcd9.65b0a4"]],"outputLabels":["Sunset"]},{"id":"f3693768.f6c0e8","type":"function","z":"807d6ec8.49078","name":"add topic","func":"msg.payload = msg.payload;\nmsg.topic = \"Noise Average\";\nreturn [msg];","outputs":1,"noerr":0,"x":480,"y":1760,"wires":[["dbf949e.e6d6ab8","419ad77f.567ce8","3264a300.2004fe","df517794.677818"]],"outputLabels":["Sunset"]},{"id":"dbf949e.e6d6ab8","type":"ui_gauge","z":"807d6ec8.49078","name":"Noise gauge","group":"aedef535.698d58","order":2,"width":"2","height":"2","gtype":"gage","title":"Average","label":"","format":"{{value}}","min":"50","max":"120","colors":["#00ce00","#d1c000","#ff0000"],"seg1":"75","seg2":"90","x":690,"y":1760,"wires":[]},{"id":"419ad77f.567ce8","type":"ui_chart","z":"807d6ec8.49078","name":"Noise graph","group":"aedef535.698d58","order":1,"width":"7","height":"6","label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"0","ymax":"1200","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#44f34d","#ff9896","#000000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":690,"y":1800,"wires":[[],[]]},{"id":"bd38d130.d78d1","type":"comment","z":"807d6ec8.49078","name":"Noise","info":"","x":90,"y":1700,"wires":[]},{"id":"3ba1dcd9.65b0a4","type":"ui_text","z":"807d6ec8.49078","group":"aedef535.698d58","order":3,"width":"2","height":"2","name":"","label":"Peak","format":"{{msg.payload}}","layout":"col-center","x":670,"y":1840,"wires":[]},{"id":"3264a300.2004fe","type":"ui_chart","z":"807d6ec8.49078","name":"Noise average graph","group":"aedef535.698d58","order":4,"width":"9","height":"5","label":"","chartType":"line","legend":"true","xformat":"HH","interpolate":"step","nodata":"","dot":false,"ymin":"50","ymax":"140","removeOlder":"4","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#44f34d","#ff9896","#000000","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":1880,"wires":[[],[]]},{"id":"f2a54aa4.89abb8","type":"function","z":"807d6ec8.49078","name":"Compose payload value","func":"msg.payload = \"High noise \" + msg.payload;\nreturn [msg];","outputs":1,"noerr":0,"x":890,"y":1720,"wires":[["c791f1e7.2a03a"]],"outputLabels":["Sunset"]},{"id":"df517794.677818","type":"switch","z":"807d6ec8.49078","name":"> 110","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"110","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":670,"y":1720,"wires":[["f2a54aa4.89abb8"]]},{"id":"9373c733.77b168","type":"mqtt-broker","z":"","name":"TTN","broker":"eu1.cloud.thethings.network","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"aedef535.698d58","type":"ui_group","z":"","name":"Noise","tab":"1f79ac4f.b03aa4","order":5,"disp":true,"width":"9","collapse":false},{"id":"1f79ac4f.b03aa4","type":"ui_tab","z":"","name":"Meteo","icon":"wi-wu-partlycloudy","order":2,"disabled":false,"hidden":false}]